language: node_js
node_js:
  - 14

services:
  - docker

# Pre-testing installs
before_script:
  - npm install -g @ionic/cli

script:
  - docker --version # print the version for logging
  - docker build -t udagram-frontend ./udagram-frontend
  - docker tag udagram-frontend nguyennhothanhhung/udagram-frontend:v1

  - docker build -t udagram-api-feed ./udagram-api-feed
  - docker tag udagram-api-feed nguyennhothanhhung/udagram-api-feed:v1

  - docker build -t udagram-api-user ./udagram-api-user
  - docker tag udagram-api-user nguyennhothanhhung/udagram-api-user:v1

  - docker build -t reverseproxy ./udagram-reverseproxy
  - docker tag reverseproxy nguyennhothanhhung/reverseproxy:v1

after_success:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  - docker push nguyennhothanhhung/udagram-api-feed:v1
  - docker push nguyennhothanhhung/udagram-api-user:v1
  - docker push nguyennhothanhhung/udagram-frontend:v1
  - docker push nguyennhothanhhung/reverseproxy:v1
